*{
    padding: 0px;
  margin:0px;
}
p{
  font-family: cursive;
  font-size: 15px;
}
html{
    background: #FDFEFE;
}

/*****************************//*****************************//*****************************//*****************************/


.sub-menu-parent { position: relative; }

.sub-menu { 
  visibility: hidden; /* hides sub-menu */
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  transform: translateY(-2em);
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.sub-menu-parent:focus .sub-menu,
.sub-menu-parent:focus-within .sub-menu,
.sub-menu-parent:hover .sub-menu {
  visibility: visible; /* shows sub-menu */
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */
}

/* presentational */
body { padding: 2%; font: 18px/1.4 sans-serif; }

nav a { color:black; display: block; padding: 0.5em 1em; text-decoration: none; }
nav a:hover { color: blue; }
nav ul,
nav ul li { list-style-type: none; padding: 0; margin: 0; }

nav > ul { background:  #30A6E6; text-align: center; }
nav > ul > li { display: inline-block; border-left: solid 1px #aaa; }
nav > ul > li:first-child { border-left: none; }

.sub-menu {
  background: #aaa;
}
/**	background: ;**/
/*****************************//*****************************//*****************************//*****************************/

#inicio{
    width: auto;
    height: auto;
    background: #E5E7E9;
   margin-left: 20px;
   text-align: center;
}

th{
  position: relative;
  left: 590px;
}

.h22{
  font-size: 40px;
}
/*****************************//*****************************//*****************************//*****************************/
header{
  margin-bottom: 20px;
}
/*****************************//*****************************//*****************************//*****************************/

section{
  margin-bottom: 30px;
}
/*****************************//*****************************//*****************************//*****************************/
.btMusic{
  position: relative;
  background: black;
  left: 550px;
  border: 1px solid;
  width: 50px;
  height: 50px;
  color: #FDFEFE;
}
/*****************************//*****************************//*****************************//*****************************/
#mulp-mp3{
  position: relative;
  background: #E5E7E9;
  top: -10px;
  width: auto;
  height: auto;
}
/*****************************//*****************************//*****************************//*****************************/


.multi{
    width: auto;
    height: auto;
    background: #ffff;
  margin-left: 20px;

  }
.mulp{
    margin-top: 10px;
    
   
}
.mulp video{
    width: 50%;
    height: auto;
    position: relative;
    left: 300px;
  }

  /*****************************//*****************************//*****************************//*****************************/
  #nec{
    width: auto;
    height: auto;
    background: #E5E7E9;
   margin-left: 20px;
  }

  #nec .titulos .h22{
    text-align: center;
  }

  #nec p{
    text-align: center;
  }

  #nec iframe{
    position: relative;
    left: 350px;
  }
  /*****************************//*****************************//*****************************//*****************************/
  #for{
    width: auto;
    height: auto;
    background: #E5E7E9;
     margin-left: 20px;
     text-align: center;
  }
  input{
    display: inline-block;
  }

    /*****************************//*****************************//*****************************//*****************************/
  footer{
    width: auto;
    height: auto;
    background: black;
    position: relative;
   
  }
  #hola{
    width: 400px;
    height: auto;
position: relative; 
left: 40px; }

.bb{
  width: 400px;
  height: auto;
  display: inline-block;
  position: relative;
  left: 40px;
  
}

.h44{
  color: white;
}